body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0; 
}

input[type="file"] {
    width:100%;
    height:50px;
    padding:0;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    text-align: center;
    font-size: 18px;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0064cf;
    transition: 0.2s ease-in-out;
}

.container {
    justify-content: center;
    text-align: center;
    padding: 40px; 
    border: 2px solid #007bff; 
    border-radius: 15px; 
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.container .selectedFiles {
    margin-top: 30px; 
    text-align: left;
    border-top: 1px solid #ccc; 
    padding-top: 10px; 
}

.fileList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.fileList li{
    display: inline;
}

.container .inputBox input {
    position: relative;
    margin-left: 260px;
    margin-bottom:-20px;
    margin-top:10px;
    width: 30%;
    background: #333;
    border: none;
    outline: none;
    padding: 10px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
  }

  .container .inputBox input:hover{
    background: #6f6f6f;
    transition:0.2s ease-in-out;
  }